<footer class="footer">
  <div class="content has-text-centered">
    <div class="container">
      <div class="buttons has-addons is-centered footer-content">
        <a href="https://golang.org/" class="button is-small is-outlined" target="_blank">
          <span class="icon"><img src="https://golang.org/favicon.ico"></span>
          <span class="footer-title footer-golang"> Go </span>
        </a>
        <a href="https://gin-gonic.github.io/gin/" class="button is-small is-outlined" target="_blank">
          <span class="icon"><img src="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico"></span>
          <span class="footer-title footer-gin"> Gin </span>
        </a>
        <a href="https://bulma.io/" class="button is-small is-outlined" target="_blank">
          <span class="icon"><img src="https://bulma.io/favicons/favicon-32x32.png?v=201701041855"></span>
          <span class="footer-title footer-bulma"> Bulma </span>
        </a>
        <a href="https://fontawesome.com/" class="button is-small is-outlined" target="_blank">
          <span class="icon"><img src="https://fontawesome.com/images/favicons/favicon-32x32.png"></span>
          <span class="footer-title footer-fontawesome"> Font Awesome </span>
        </a>
      </div>
    </div>
  </div>
</footer>
