<nav class="navbar is-dark is-fixed-top">
  <div class="navbar-brand">
    <div class="navbar-burger burger" data-target="main-navbar">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="main-navbar" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="#about">
        <span class="icon">
          <i class="fas fa-info"></i>
        </span>
        <span>About</span>
      </a>
      <a class="navbar-item" href="#tech">
        <span class="icon">
          <i class="fas fa-bars"></i>
        </span>
        <span>Tech</span>
      </a>
      <a class="navbar-item" href="#contact">
        <span class="icon">
          <i class="fas fa-envelope"></i>
        </span>
        <span>Contact</span>
      </a>
    </div>
  </div>
</nav>
