<section class="section hero is-fullheight is-fullheight-with-navbar" id="hero-header">
  <div class="hero-body hero-header-body">
    <div class="container" data-aos="fade-left" data-aos-duration="1000">Hello! I'm
      <h1 class="title is-1" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="500">
        Dennis
      </h1>
      <h2 class="subtitle is-3" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1000">
        A Polyglot Developer
      </h2>
    </div>
  </div>
</section>
