<section class="section hero is-primary" id="about">
  <div id="arrow"></div>
  <div class="hero-body">
    <div class="section-heading">
      <h3 class="title is-2" data-aos="fade-up" data-aos-duration="750">About Me</h3>
      <h4 class="subtitle is-5" data-aos="fade-up" data-aos-duration="750" data-aos-delay="250">Thinking "outside of the box" to develop software solutions</h4>
      <div class="container" data-aos="fade-up" data-aos-duration="750" data-aos-delay="250">
        <p>Software developer with well-rounded experience and extensive knowledge of modern tech.</p>
      </div>
    </div>
    <div class="section-heading" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
      <h4 class="subtitle is-4">Follow Me</h4>
      <div class="container">
        <div class="buttons has-addons is-centered">
          <a href="{{.linkedin}}" class="button is-medium is-outlined social" target="_blank">
            <span class="icon is-medium social-linkedin">
              <i class="fab fa-linkedin"></i>
            </span>
          </a>
          <a href="{{.github}}" class="button is-medium is-outlined social" target="_blank">
            <span class="icon is-medium social-github">
              <i class="fab fa-github"></i>
            </span>
          </a>
          <a href="{{.hackerrank}}" class="button is-medium is-outlined social" target="_blank">
            <span class="icon is-medium social-hacker">
              <i class="fab fa-hackerrank"></i>
            </span>
          </a>
          <a href="{{.twitter}}" class="button is-medium is-outlined social" target="_blank">
            <span class="icon is-medium social-twitter">
              <i class="fab fa-twitter-square"></i>
            </span>
          </a>
          <a href="{{.facebook}}" class="button is-medium is-outlined social" target="_blank">
            <span class="icon is-medium social-facebook">
              <i class="fab fa-facebook-square"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
