<section class="section" id="tech">
  <div class="section-heading">
    <h3 class="title is-2">Technologies</h3>
    <h4 class="subtitle is-5">Things I've used (past & present)</h4>
  </div>
  <div class="container">
    <div class="tile is-ancestor">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-success" data-aos="fade-right" data-aos-duration="750">
            <p class="subtitle"><span><i class="fas fa-laptop-code"></i> Languages & Frameworks</span></p>
            <ul>
              <li>Java / JEE</li>
              <li>Spring Framework / Boot</li>
              <li>Struts I & II</li>
              <li>Groovy</li>
              <li>Shell</li>
              <li>Objective-C</li>
              <li>Go</li>
              <li>C#</li>
            </ul>
          </article>
          <article class="tile is-child notification is-primary" data-aos="fade-right" data-aos-duration="750">
            <p class="subtitle"><span><i class="fas fa-tools"></i> Tools</span></p>
            <ul>
              <li>Eclipse / Spring Tool Suite</li>
              <li>JetBrains Tools (IntelliJ IDEA, GoLand, WebStorm, etc.)</li>
              <li>Xcode</li>
              <li>Atom</li>
              <li>Gradle</li>
              <li>Git</li>
              <li>GitHub</li>
              <li>Maven</li>
              <li>Ant</li>
            </ul>
          </article>
        </div>
      </div>
      <div class="tile is-vertical is-8">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <article class="tile is-child notification is-warning" data-aos="zoom-in-up" data-aos-duration="750">
              <p class="subtitle"><span><i class="fab fa-docker"></i> Platform as a Service</span></p>
              <ul>
                <li>Docker</li>
                <li>DockerHub</li>
                <li>Kubernetes</li>
                <li>Apache Mesos</li>
                <li>Marathon</li>
              </ul>
            </article>
            <article class="tile is-child notification is-primary" data-aos="zoom-in-up" data-aos-duration="750">
              <p class="subtitle"><span><i class="fas fa-terminal"></i> Build Pipeline</span></p>
              <ul>
                <li>Jenkins</li>
                <li>Sonarqube</li>
                <li>Artifactory</li>
              </ul>
            </article>
            <article class="tile is-child notification is-info" data-aos="zoom-in-up" data-aos-duration="750">
              <p class="subtitle"><span><i class="fas fa-server"></i> Linux Web Environments</span></p>
              <ul>
                <li>WebLogic 10i/11g/12c</li>
                <li>Tomcat 6/7/8</li>
              </ul>
            </article>
          </div>
          <div class="tile is-parent is-vertical">
            <article class="tile is-child notification is-success" data-aos="fade-left" data-aos-duration="750">
              <p class="subtitle"><span><i class="fas fa-code"></i> Presentation</span></p>
              <ul>
                <li>HTML(5)</li>
                <li>JavaScript / jQuery</li>
                <li>CSS</li>
                <li>Thymeleaf</li>
                <li>Mustache</li>
                <li>Bootstrap</li>
                <li>Bulma</li>
                <li>FontAwesome</li>
              </ul>
            </article>
            <article class="tile is-child notification is-warning" data-aos="fade-left" data-aos-duration="750">
              <p class="subtitle"><span><i class="fas fa-database"></i> Databases</span></p>
              <ul>
                <li>Oracle / MySql</li>
                <li>MongoDB</li>
                <li>SQL Server</li>
                <li>H2</li>
                <li>Derby</li>
                <li>DB2 (limited)</li>
              </ul>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-danger" data-aos="fade-left" data-aos-duration="750">
            <p class="subtitle"><span><i class="fas fa-user-ninja"></i> And More</span></p>
            <div class="content">
              <p>I am always trying to learn new things.</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
